.footer {
    display: flex;
    background-color: var(--fondo-footer);
    color: white;
    font-family: CircularRegular;
    padding: 30px;
}

.redes-sociales img{
    height: 35px;
}

.redes-sociales {
    margin-left: auto;
    display: flex;
}

.columna {
    margin-right: 100px;
}

.columna a{
    color: white;
}

.flex-footer {
    display: flex;
}

.margin-top-footer {
    padding-top: 0px;
}

.margin-top-sociales {
    padding-top: 0px;
}


@media (max-width: 900px) {
    .flex-footer {
        display: block;
    }    
    
    .margin-top-footer {
        padding-top: 20px;
    }

    .margin-top-sociales {
        padding-top: 10px;
    }

    .redes-sociales {
        margin-left: auto;
        display: block;
    }
}

@media (max-width: 450px) {
    .footer {
        display: block;
    }
}