.footer {
    display: flex;
    background-color: var(--fondo-footer);
    color: white;
    font-family: CircularRegular;
    padding: 30px;
}

.redes-sociales img{
    height: 35px;
}

.redes-sociales {
    margin-left: auto;
}

.columna {
    margin-right: 100px;
}