.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: var(--margin-body);
    padding-right: var(--margin-body);
}

.nav {
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-family: CircularRegular;
    margin-right: 3rem;
}

.nav a.activo {
    border-bottom: 1px solid grey;
}

.iconos-nav {
    display: flex;
    align-items: center;
}

.iconos-nav img{
    height: 40px;
}

.logo {
    max-width: 100px;
}
