.ordenar {
    font-family: BlackerRegular;
}

.ordenar-categorias {
    display: flex;
    font-size: 20px;
}

.categoria {
    margin-right: 40px;
}

.subrayar {
    border-bottom: 1px solid black;
}

.ficha-flex {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.ficha-flex a {
    color: black;
}

.producto {
    width: 32%;
    margin-right: 20px;
}

.producto:nth-child(3n) {
    margin-right: 0px;
}

.descripcion {
    margin-bottom: 60px;
    margin-top: 20px;
}

.paginas {
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    height: 40px;
    width: 40px;
    margin-right: 5px;
    text-align: center;
    padding-top: 8px;
    font-family: CircularRegular;
}

.num-paginas {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.num-paginas img {
    height: 40px;
}

.paginas-flex {
    display: flex;
}

.paginas-flex a {
    color: black;
}

.interesar {
    font-family: BlackerRegular;
    border-top: 1px solid grey;
    padding-top: 30px;
}

.margenes {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1060px) {
    .producto {
        width: 48%;
        margin-right: 20px;
    }

    .producto:nth-child(2n) {
        margin-right: 0px;
    }

    .ficha-flex {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .producto {
        width: 100%;
        margin-right: 0px;
    }
}