@font-face {
    font-family: BlackerRegular;
    src: url(/Tipos/Blacker-sans-book.woff);
}

@font-face {
    font-family: BlackerBold;
    src: url(/Tipos/Blacker-sans-bold.woff);
}

@font-face {
    font-family: BlackerLight;
    src: url(/Tipos/Blacker-sans-book.woff);
}


@font-face {
    font-family: CircularRegular;
    src: url(/Tipos/CircularStd-Book.woff);
}

@font-face {
    font-family: CircularBold;
    src: url(/Tipos/CircularStd-Bold.woff);
}

  
  h1 {
      font-size: 48px;
      margin-top: 5px;
      margin-bottom: 0px;
      font-family: BlackerBold;
  }
  
  h2 {
      font-size: 36px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  
  h3 {
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  
  h4 {
      font-size: 19px;
      font-family: BlackerRegular;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  
  h5 {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
  }
  
  h6 {
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
  }