<div class="footer">
    <div class="columna">
        <h6>Guías</h6>
        <br>
        <h6>Condiciones de uso</h6>
        <br>
        <h6>Condiciones de venta</h6>
        <br>
        <h6>Política de privacidad y cookies</h6>
        <br>
        <h6>Aviso legal</h6>
        <br>
        <h6>Configuración</h6>
    </div>
   
    <div class="columna">
        <h6>Tarjeta regalo</h6>
        <br>
        <h6>Tiendas cercanas</h6>
        <br>
        <h6>Registrate a la newsletter</h6>
        <br>
        <h6>Hazte miembro</h6>
        <br>
        <h6>Descuentos estudiantes</h6>
        <br>
        <h6>Comentarios en la web</h6>
    </div>
    
    <div class="columna">
        <a href="/sobre-nosotros/">
            <h6>Sobre nosotros</h6>
        </a>
        <br>
        <a href="/contactanos/">
            <h6>Contáctanos</h6>
        </a>
        <br>
        <a href="/novedades/">
            <h6>Novedades</h6>
        </a>
        <br>
        <a href="/hombre/">
            <h6>Hombre</h6>
        </a>
        <br>
        <a href="/mujer/">
            <h6>Mujer</h6>
        </a>
        <br>
        <a href="/niños/">
            <h6>Niño/a</h6>
        </a>
    </div>
   
    <div class="redes-sociales">
        <a href="">
            <img src="/images/iconos_footer/facebook.png">
        </a>
        <a href="">
            <img src="/images/iconos_footer/insta.png">
        </a>
        <a href="">
            <img src="/images/iconos_footer/mail.png">
        </a>
        <a href="">
            <img src="/images/iconos_footer/twitter.png">
        </a>
    </div>
</div>