<div class="galeria">
    <div class="galeria-producto">
        <a href="/producto/">
                <img src="/images/Productos_Zapatillas/Zapatillas_1.png">
            <div class="descripcion">
                <br>
                <h4>Track 2</h4>
                <h4>Zapatillas</h4>
                <br>
                <h4>750€</h4>
            </div>
        </a>
    </div>

    <div class="galeria-producto">
        <a href="/producto/">
                <img src="/images/Productos_Zapatillas/Zapatillas_2.png">
            <div class="descripcion">
                <br>
                <h4>Track 2</h4>
                <h4>Zapatillas</h4>
                <br>
                <h4>750€</h4>
            </div>
        </a>
    </div>

    <div class="galeria-producto">
        <a href="/producto/">
                <img src="/images/Productos_Zapatillas/Zapatillas_3.png">
            <div class="descripcion">
                <br>
                <h4>Track 2</h4>
                <h4>Zapatillas</h4>
                <br>
                <h4>750€</h4>
            </div>
        </a>
    </div>

    <div class="galeria-producto">
        <a href="/producto/">
                <img src="/images/Productos_Zapatillas/Zapatillas_4.png">
            <div class="descripcion">
                <br>
                <h4>Track 2</h4>
                <h4>Zapatillas</h4>
                <br>
                <h4>750€</h4>
            </div>
        </a>
    </div>
</div>