<div class="nav-flex">
    <a href="/" class="logo">
        <img src="/images/iconos_nav/Logo_Zap_Futture.png">
    </a>

    <div class="nav">
        {% set navPages = collections.all | eleventyNavigation %}
        {%- for elemento in navPages %}
            <a href="{{ elemento.url | url }}"
                {% if elemento.url == page.url %} class="activo"{% endif %}
            >
            {{ elemento.title }}
            </a>
        {%- endfor %}
    </div>

    <div class="iconos-nav">
        <a href="" class="buscador">
            <img src="/images/iconos_nav/buscador.png">
        </a>

         <a href="/cesta/">
            <img src="/images/iconos_nav/bolsa.png">
        </a>

        <a href="">
            <img src="/images/iconos_nav/perfil.png">
        </a>
	    

        <button id="menu-hamburguesa" class="menu-hamburguesa">
			<a href="#">
				<img src="/images/menu_1.png">
			</a href="#">
		</button>

        <div class="menu-nav">
			<button id="close-menu" class="close-menu" aria-label="Close">
			&times;
			</button>
			<ul>
                <li><a href="/novedades/">Novedades</a></li>
                <li><a href="/hombre/">Hombre</a></li>
                <li><a href="/mujer/">Mujer</a></li>
                <li><a href="/niño/">Niño/a</a></li>
			</ul>  
		</div>

    </div>
</div>

<a href="">
    <div class="buscador-responsive">
        <img src="/images/icono_buscador.png">
    </div>
</a>