---
layout: layouts/base.njk
title: Cesta - Futture
---

<div class="div-inicial flex-cesta">
    <div class="cesta">
        <div>
            <h2>Cesta</h2>
            <h5>2 productos - 1500€</h5>
            <br>
            <h5>Envio gratuito a partir de 700€</h5>
        </div>

        <div class="producto-cesta border-bottom">
            <div class="imagen-p-cesta">
                <img src="/images/zapatilla/track_1.png">
            </div>
            
            <div class="descripcion-cesta-flex">
                <div class="descripcion-cesta">
                    <h3>Track 2</h3>
                    <br>
                    <h6>Categoría</h6>
                    <h6>Color</h6>
                    <h6>Talla</h6>
                    <h6>Cantidad</h6>
                    <br>
                    <h6>Precio</h6>
                </div>

                <div class="opciones">Más opciones</div>
            </div>
        </div>

         <div class="producto-cesta">
            <div class="imagen-p-cesta">
                <img src="/images/Productos_Zapatillas/Zapatillas_5.png">
            </div>
            
            <div class="descripcion-cesta-flex">
                <div class="descripcion-cesta">
                    <h3>Track 2</h3>
                    <br>
                    <h6>Categoría</h6>
                    <h6>Color</h6>
                    <h6>Talla</h6>
                    <h6>Cantidad</h6>
                    <br>
                    <h6>Precio</h6>
                </div>

                <div class="opciones">Más opciones</div>
            </div>
        </div>

        <div class="favoritos-añadir">
            <h2>Favoritos</h2>
            <h5><u>Ver tus favoritos</u> por si te falta algo</h5>
        </div>
    </div>
    
    <div class="resumen">
        <h2>Resumen</h2>
        <br>
        <div class="flex-resumen">
            <h6>Código promocional</h6>
            <h6>0</h6>
        </div>
        <div class="flex-resumen">
            <h6>Gastos de envio y gestión estimados</h6>
            <h6>0</h6>
        </div>
        <br>
        <div class="flex-resumen">
            <h5>Total</h5>
            <h6>0</h6>
        </div>
        <a href="">
            <div class="caja">Pasar por caja</div>
        </a>
        <h6 class="añadir-favoritos"><u>Añadir a favoritos</u></h6>
    </div>
</div>



<div class="interesar margenes">
    <h4>También te podría interesar</h4>
</div>