---
layout: layouts/base.njk
title: Contáctanos - Futture
---

<div class="div-inicial">
    <div class="titulo">
        <h1>Contáctanos</h1>
    </div>

    <div class="texto-subtitulo">   
        <div class="img-texto">
            <div>
                <img src="/images/iconos_redes/insta_blanco.png">
            </div>
            <div>
            instagram/futture
            </div>
        </div>

        <div class="img-texto">
            <div>
                <img src="/images/iconos_redes/facebook_blanco.png">
            </div>
            <div>
            facebook/futture
            </div>
        </div>

        <div class="img-texto">
            <div>
                <img src="/images/iconos_redes/twitter_blanco.png">
            </div>
            <div>
            twitter/futture
            </div>
        </div>

        <div class="img-texto">
            <div>
                <img src="/images/iconos_redes/mail_blanco.png">
            </div>
            <div>
            gmail/futture
            </div>
        </div>
    </div>
</div>