---
layout: layouts/base.njk
title: Home - Futture
---

<div class="home">
    <div class="track-2">
        <h1>Track 2</h1>
    </div>

    <div class="opciones-comprar">
        <a href="">
            <h4 class="comprar">
                Comprar
            </h4>
        </a>
        <br>
        <a href="">
            <h4 class="comprar-niño">
                Comprar para niño
            </h4>
        </a>
    </div>
</div>