---
layout: layouts/base.njk
title: Home - Futture
eleventyNavigation:
  key: Novedades
  tittle: Novedades
  order: 1
---
<div class="div-inicial">
    <div class="titulo">
        <h1>Novedades</h1>
    </div>

    <div class="texto-subtitulo">
      Os presentamos las novedades de nuestra tienda Futture.
      ¡Algunas incluso tienen descuento! Scroll down para ver más.
      </div>
      <br>
      <br>
      <br>
      <br>

      {% include "./_includes/productos.njk" %}

    </div>
     

