---
layout: layouts/base.njk
title: Producto - Futture
---
<div class="container">
    <div class="imagenes-producto">
        <img src="/images/zapatilla/track_1.png">

        <div class="imagenes-pequeñas">
            <div class="flex-imagenes-pequeñas">
                <div class="imagen-modelo margin-img-peq">
                    <img src="/images/zapatilla/track_2.png">
                </div>
                <div class="imagen-modelo">
                    <img src="/images/zapatilla/track_3.png">
                </div>
            </div>
            <div class="imagen-modelo">
                <img src="/images/zapatilla/track_4.png">
            </div>
        </div>
    </div>

    <div class="informacion">
        <div class="descripcion-precio">
            <h6 class="subtitulo">Zapatillas - Hombre</h6>
            <h6 class="subtitulo">750€</h6>
        </div>

        <h2 class="nombre">Track 2</h2>

        <div class="colores">
            <img src="/images/colores/color_1.png">
            <img src="/images/colores/color_2.png">
            <img src="/images/colores/color_3.png">
        </div>

        <br>
        <br>

        <div class="descripcion-precio">
            <h6 class="subtitulo">Selecciona talla</h6>
            <h6 class="subtitulo">Guía de tallas</h6>
        </div>
        <br>
        <div class="tallas">
            <div class="columna-talla">
                <div class="talla">EU 36</div>
                <div class="talla">EU 36.5</div>
                <div class="talla">EU 37</div>
            </div>

            <div class="columna-talla">
                <div class="talla">EU 36</div>
                <div class="talla">EU 36.5</div>
                <div class="talla">EU 37</div>
            </div>

            <div class="columna-talla">
                <div class="talla">EU 36</div>
                <div class="talla">EU 36.5</div>
                <div class="talla">EU 37</div>
            </div>

            <div class="columna-talla">
                <div class="talla">EU 36</div>
                <div class="talla">EU 36.5</div>
                <div class="talla">EU 37</div>
            </div>

            <div class="columna-talla">
                <div class="talla">EU 36</div>
                <div class="talla">EU 36.5</div>
                <div class="talla">EU 37</div>
            </div>

            <div class="columna-talla">
                <div class="talla">EU 36</div>
                <div class="talla">EU 36.5</div>
                <div class="talla">EU 37</div>
            </div>
        </div>

        <a href="/cesta/">
            <div class="añadir-cesta">Añadir a la cesta</div>
        </a>
        <a href="">
            <div class="favoritos">Favoritos</div>
        </a>

        <br>
        <br>

        <h6 class="tallas">
            Composition:
            <br>
            62% Polyurethane, 38% Polyester
            <br>
            • Track.2 is a 100% non leather sneaker
            made of mesh and nylon
            <br>
            • Track.2 rubber logo attached to the shoe
            tongue
            <br>
            • Rubber logo on the exterior
            <br>
            • Logo embossed on foam counter back
            <br>
            • BB embossed on outsole’s front
        </h6>
        
        <br>
        <br>

        <a href="">
            <h6 class="tallas"><u>Más información</u></h6>
        </a>

        <br>
        <br>

        <div class="devoluciones">
                <h4>Devoluciones y envios <br> gratuitos</h4>
                <img src="/images/zapatilla/abajo.png">
        </div>

        <div class="evaluaciones">
            <h4>Evaluaciones</h4>
            <div class="espaciar-img">
                <div class="estrellas">
                    <img src="/images/zapatilla/estrellas.png">
                </div>
                <div class="abajo">
                    <img src="/images/zapatilla/abajo.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="interesar margenes">
    <h4>También te podría interesar</h4>
</div>